@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  color: #212121;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
}

.game-container {
  max-width: 90vw;
  margin: auto;
  width: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.round-result {
  padding: 20px;
  font-size: 1.7rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background: #dadada;
  padding: 14px 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  margin: 20px;
  font-size: 2.5rem;
  border-radius: 10px;
}

button:hover {
  background: #cccccc;
}

.start-game-button {
  font-size: 1rem;
}

@media screen and (max-width: 430px) {
  button {
    margin: 5px;
  }
}

@media screen and (max-width: 300px) {
  button {
    font-size: 1.8rem;
  }
}
